/* Light purple: #9A969C
Dark purple: #3E3544
Background color: #ffffff
White text: #ffffff
Body text: #000000
Font: Roboto Slab */
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0px;
  font-family: 'Roboto Slab', sans-serif;

}
/* Vertical header/nav Section */
header {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 17%;
  background-color: #9A969C;
}

.nav-links {
  text-align: center;
  font-size: 20px;
}

.nav-link {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.dog-icon {
  width: 200px;
  height: auto;
  padding-top: 10px;
  padding-left: 25px;
}

.tooltip{
  display: block;
}

.tooltip-text{
  visibility: hidden;
  display: none;
  /* z-index: 1; */
}

/* .tooltip:hover .tooltip-text{
  visibility: visible;
  display: inline;
} */

/* Body */
body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #3E3544;
}

/* Main Section */
main {
  display: flex;
  flex-flow: wrap;
  width: 75%;
}

h1 {
  color: #ffffff;
  /* display: inline; */
}

label{
  color: #ffffff;
}

.dog-name {
  display: inline;
}

.circle-image {
      width: 400px;
      height: 400px;
      overflow: hidden;
      border-radius: 50%;
      border: solid;
      border-color: #9A969C;
      border-width: thick;
      display: block;
      margin: 0 auto;
}

/* Bottom section */
.column {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  color: #000000;
  /* padding: 13px;
  width: 100%; */
}
