*{
  font-family: 'Open Sans', sans-serif;
}
header {
  background-color: #75e2e6;
  border-bottom: solid;
  border-color: #048eaa;
  border-width: thick;
  height: 90px;

}
.nav-links {
  float:right;
  padding-top: 35px;
}

.nav-link {
  padding: 20px;
  text-decoration: none;
  color: #000000;
  font-family: 'Open Sans';
  font-size: 20px;
}
.dog-icon {
  width: 70px;
  height: auto;
  padding-top: 10px;
  padding-left: 25px;

}
h1 {
  /* font: Open Sans; */
  font-family:'Open Sans';
  font-style: normal;
  font-size: 40px;
  font-weight: normal;
  margin: 0px;
  /* border: solid; */
  /* padding:50px; */
  /* color: #ffffff; */
  text-align: center;
  margin:  0px;

}
.circle-image {
  width: 200px;
    height: 200px;
    /* position: relative; */
    overflow: hidden;
    border-radius: 50%;
    border: solid;
    border-color: #048eaa;
    border-width: thick;
    /* vertical-align: middle; */
    display: block;
    margin: 0 auto;

}
main {
  color: #ffffff;
  text-align: center;
  background: url(images/dog-party-assets/park.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
label{
  float: left;
  display: block;
}
input{
  display: block;
  float: left;
  clear: both;
  /* margin-top: 0px;
  margin-bottom: 100px; */
}
.bold{
  font-weight: bolder;
}
.grass{
  display: inline-block;
  width:29%;
}

.submit{
  border-radius: 02px;
  background-color: #75e2e6;
  border-color: #846a29;
  width:450px;
  height: 60px;
  margin: 10px;
  padding: 10px;
  display: block;
  font-size: 18px;
}

input{
  width:425px;
  height: 35px;
  margin: 10px;
  padding: 10px;
  display: block;
  font-size: 18px;
}
.column {
  float: left;
  width: 30%;
  /* margin: 3%; */
}

h2{
  font-weight: bolder;
  text-align: center;
  display:
}

footer {
  clear: both;
  align-items: center;
  background-color: #048eaa;
  color: #ffffff;
  height: 240px;
}
